body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    font-size: 25px;

}

.but {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 110px;
    margin-bottom: 150px;
    background-color: rgb(112, 202, 112);
    color: black;
    border-style: none;
    
}
.but:hover{
    background-color: black;
    color: rgb(120, 202, 120);
}
.but:active{
    opacity: 0.1;
    transition: opacity 0.1s;
}
.FJimg{
    margin-top: 0px;
    height: 152px;
    width: 380px;
    object-fit: contain;
    object-position: center;
}
.container{
    justify-content: space-between;
    display: flex;
}
.box{
    width: 1350px;
    height: 150px;
    border: 1px;
    border-style: solid;

}
#box1{
    background-color: rgb(52, 238, 99);
}
#box4{
    background-color: rgb(243, 154, 52);
    
}
.container1{
    justify-content: center;
    height: 450px;
    border: 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.return{
    text-align: center;
    margin-right: 1300px;
    font-size: 35x;
    background-color: rgb(112, 202, 112);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-style: none;
    width: 6%;
  }
  .return:active{
    opacity: 0.5;
    transition: opacity 0.1s ;
  }
#border{
    background-color: rgb(57, 119, 57);
}

