<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<form method = post>
  {% csrf_token %}
  <div class="login-form">
    <button class="bkL" onclick=location.href='{% url "home" %}'>Back</button>
    <form>
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" name = "email" placeholder="Email" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type= "text" name = "password" placeholder="Password" autocomplete="new-password">
        </div>
      </div>
      <div class="action">
        <button>Sign in</button>
      </div>
    </form>
  </div>
</form>



</body>
</html>
