<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/logout.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Done?</h1>
      <p>
        Thank You For Shopping With F-J Food Groceries
      </p>
      <button class="logout-btn">Logout</button>
    </div>
    
  </body>
</html>
