<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styleCart.css">
</head>
<body>
    <div class='carttab'>
        <h1>Shopping Cart</h1>
        <div class='listcart'>
            <div class='item'>
                <div class='image'>
                    <img src='../static/ChickenImage.jpg' >
                </div>
                <div class='name'>
                    NAME
                </div>
                <div class='tot'>
                    $200
                </div>
                <div class='quan'>
                    <span class='minus'>-</span>
                    <span>1</span>
                    <span class='plus'>+</span>
                </div>
            </div>
        </div>
        <div class='btn'>
            <button class='close'>CLOSE</button>
            <button class='checkout'>CHECK OUT</button>
        </div>
        </div>
    </div>

</body>
</html>
