<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
    <link rel="stylesheet" href="../static/styleHayden.css">
    
</head>
<body>
    <div class="container">
        <div class="box" id="box1"></div>
        <img class="FJimg" src="../static/Screenshot 2023-11-25 201549.png">
        <div class="box" id="box4"></div>
    </div>
    <div class="container1" id="border">
        <button class='return' onclick="location.href='Main.html'">Back</button>
        <h1 class="U1">User Authentication System</h1>
        <p class="Welcome">Welcome to our website! Please choose an action:</p>

        <button class='but' onclick="location.href='login.html'">Login</button>
        <button class='but' onclick="location.href='register.html'">Register</button>
    </div>
    
</body>
</html>