<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styleProduct.css">
</head>
<body class='showcart'>
    <div class = productpage>
        <div class = container>
            <button class='box' id='b1' onclick=location.href='{%url "main"}'>Home</button>
            <button class='box' id='b2' onclick=location.href='{%url "product"}'>Product</button>
            <button class='box' id='b3' onclick=location.href='{%url "delivery"%}'>Delivery</button>
            <button class='box' id='b4' onclick="location.href='#'">Pickup</button>
            <button class='box' id='b5' onclick= location.href='{%url "home"% }'>Signin</button>
            <button class='box' id='b6' onclick="location.href='signout.html'">SignOut</button>
        </div>
        <div class='cartb'>
            <h1 class='fbox'>F&J Groceries<button class='views'><p class="count"><img class='image' src='../static/shopping-cart.png'>0</p></button></h1>
        </div>
        <div class='tit'>
            <h1>Product Page</h1>
        </div>
        <div></div>
        <div class='container1'>
            <div class='items'><img  id ='f1' src='../static/ChickenImage.jpg' ><p class='Item_name'>Chicken</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/BeefImage.jpg'><p class='Item_name'>Beef</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/PorkImage.jpg'><p class='Item_name'>Pork</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/MuttonImage.jpg'><p class='Item_name'>Mutton</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/AppleImage.jpg' ><p class='Item_name'>Apple</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/AvacadoImage.jpg'><p class='Item_name'>Avacado</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/BananaImage.jpg'><p class='Item_name'>Banana</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/CassavaImage.jpg'><p class='Item_name'>Cassava</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/DashineImage.jpg'><p class='Item_name'>Dashine</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/FishSlicedimg.jpg'><p class='Item_name'>Fish</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/FlourImage.jpg' ><p class='Item_name'>Flour</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/GarlicImage.jpg'><p class='Item_name'>Garlic</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/GrapeImage.png'><p class='Item_name'>Grape</p><p class='pric'>Price:</p><button class='box1'   onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/GreenbananaImage.jpg'><p class='Item_name'>Green Banana</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/HamImage.jpg'><p class='Item_name'>Ham</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/OnionImage.jpg'><p class='Item_name'>Onion</p><p class='pric'>Price:</p><button class='box1'  onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/OrangeImage.jpg' ><p class='Item_name'>Orange</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/PepperImage.jpg'><p class='Item_name'>Pepper</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/PotatoImage.jpg'><p class='Item_name'>Potato</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/RiceImage.jpg'><p class='Item_name'>Rice</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/ScallionImage.png'><p class='Item_name'>Scallion</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
            <div class='items'><img  id ='f1' src='../static/ShrimpImage.jpg'><p class='Item_name'>Shrimp</p><p class='pric'>Price:</p><button class='box1' onclick.location.href='shop_cart.html'>Add to cart</button></div>
        </div>
    <div class='carttab'>
        <h1>Shopping Cart</h1>
        <div class='listcart'>
            <div class='item'>
                <div class='image'>
                    <img src='../static/ChickenImage.jpg' >
                </div>
                <div class='name'>
                    NAME
                </div>
                <div class='tot'>
                    $200
                </div>
                <div class='quan'>
                    <span class='minus'>-</span>
                    <span>1</span>
                    <span class='plus'>+</span>
                </div>
            </div>
        </div>
        <div class='btn'>
            <button class='close'>CLOSE</button>
            <button class='checkout'>CHECK OUT</button>
        </div>
        </div>
    </div>
<script src='F_J.js'></script>
</body>
</html>
