<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<form method="post">
  {% csrf_token %}
  <div class="login-form">
    <button class="bkL" onclick=location.href='{% url "home" %}'>Back</button>
    <form>
      <h1>Registration</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" name ="username" placeholder="Enter new username" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="text" name= "password" placeholder="Enter new password" autocomplete="new-password">
        </div>
        <div class="input-field">
          <input type="text" name = "email" placeholder="Confirm new email" autocomplete="new-email">
        </div>
        <a href="login.html" class="link">Already Log in?</a>
      </div>
      <div class="action">
        <button>Register</button>
        <button>Sign in</button>
      </div>
    </form>
  </div>
</form>


</body>
</html>